@font-face {
  font-family: BPGarial;
  src: url(./assets/fonts/bpg_arial_2009.ttf);
}

@font-face {
  font-family: BPGweb;
  src: url(./assets/fonts/bpg_web_001_caps.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7ff;
  font-family: BPGarial, sans-serif;
}

h1 {
  font-size: 40px;
  font-family: BPGweb;
}

h3 {
  font-size: 18px;
  font-family: BPGweb;
  text-align: center;
  margin: 15px 0;
}

button {
  font-size: 18px;
  font-family: BPGweb;
}

nav .brand-logo {
  color: black;
}

nav a,
nav ul a {
  color: black;
  font-family: BPGweb;
}

nav {
  box-shadow: none;
}

nav .brand-logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.pollitic-item {
  margin: 50px 0;
}

.pollitic-item.padded-white {
  padding: 15px;
  background-color: white;
  border-radius: 20px;
}

.pollitic-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.pollitic-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  display: block;
  height: 120vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 997;
}

.row {
  margin-bottom: 0;
}

.pollitic-min-item {
  border-radius: 15px;
  height: 230px;
  width: 100%;
  display: flex;
  align-items: center;
  background-position: center;
}

.pollitic-min-item-overlay {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pollitic-min-item-overlay h2 {
  max-height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-family: BPGweb;
  line-height: 2.5rem;
  text-align: center;
  color: white;
}

.pollitic-min-item-overlay h4 {
  font-size: 14px;
  font-family: BPGweb;
  text-align: center;
  color: rgba(255,255,255, 0.8);
}

@media only screen and (max-width: 601px) {
  h1 {
    font-size: 30px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loader,
.loader:before,
.loader:after {
  background: #81C784;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #81C784;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
