@font-face {
    font-family: BPGarial;
    src: url(./assets/fonts/bpg_arial_2009.ttf);
}

@font-face {
    font-family: BPGweb;
    src: url(./assets/fonts/bpg_web_001_caps.ttf);
}

@font-face {
    font-family: BPGitalic;
    src: url(./assets/fonts/bpg_phone_sans_italic.ttf);
}

#root {
    height: 100%;
    position: relative;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fed253;
    font-family: BPGarial, sans-serif;
}

hr {
    border: 1px solid #ebebeb;
}

input {
    font-family: BPGarial, sans-serif;
}

select {
    font-family: BPGarial, sans-serif;
}

h1 {
    font-size: 40px;
    font-family: BPGweb;
}

h3 {
    font-size: 18px;
    font-family: BPGweb;
    text-align: center;
    margin: 15px 0;
}

button {
    font-size: 18px;
    font-family: BPGweb, sans-serif;
}

nav .brand-logo {
    color: black;
}

nav a,
nav ul a {
    color: black;
    font-family: BPGweb;
}

nav {
    box-shadow: none;
}

nav .brand-logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.pollitic-item {
    margin: 50px 0;
}

.pollitic-item.padded-white {
    padding: 15px;
    background-color: white;
    border-radius: 20px;
}

.padded-sides-white {
    padding: 15px;
    background-color: white;
    border-radius: 20px;
}

.pollitic-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.pollitic-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    display: block;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
}

.row {
    margin-bottom: 0;
}

.pollitic-min-item {
    border-radius: 15px;
    height: 230px;
    width: 100%;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/img/default.png');
}

.pollitic-min-item-overlay {
    border-radius: 15px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pollitic-min-item-overlay h2 {
    max-height: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-family: BPGweb;
    line-height: 2.5rem;
    text-align: center;
    color: white;
}

.pollitic-min-item-overlay h4 {
    font-size: 14px;
    font-family: BPGweb;
    text-align: center;
    color: #fdd835;
}

.pollitic-min-item-overlay h6 {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-family: BPGweb;
}

.pollitic-min-item-overlay.full h2 {
    font-size: 24px;
}

.pollitic-min-item-overlay.full h4 {
    font-size: 18px;
}

.pollitic-footer {
    height: 50px;
    background-color: white;
}

.push {
    height: 50px;
}

.important {
    color: red;
    font-size: inherit;
}

.pollitic-select {
    border: 0px;
    border-bottom: 2px solid rgb(76, 175, 80);
}

.pollitic-select:focus {
    outline: none;
}

.main-btn {
    display: block;
    margin-left: auto;
}

.pollitic-pad {
    padding: 25px;
}

.pollitic-label {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.pollitic-cs-list {
    display: inline;
    list-style: none;
}

.pollitic-cs-list li {
    display: inline;
    font-family: BPGitalic, BPGarial, sans-serif;
    font-size: 14px;
    transition: color 150ms;
    word-break: break-all;
}

.pollitic-cs-list li:hover {
    color: rgb(250, 0, 0, 0.5);
    cursor: pointer;
}

.pollitic-cs-list li:after {
    content: ', ';
}

.pollitic-cs-list li:last-child:after {
    content: '';
}

.pollitic-modal-success,
.pollitic-modal-warn {
    color: #ff516f;
    font-size: 16px;
    font-family: BPGweb;
}

.pollitic-modal-success {
    color: #689f38;
}

.modal {
    border-radius: 15px;
}

.modal .modal-header {
    background-color: white;
}

.modal .modal-footer {
    background-color: #f4f7ff;
}

.pollitic-404 h1 {
    margin: 0;
    padding: 0;
}

.pollitic-404 h4 {
    margin: 10px 0;
    padding: 0;
}

.pollitic-404 p {
    margin-top: 40px;
}

.pollitic-content {
    min-height: 100%;
    margin: 0 auto -50px;
}

.pollitic-radio-btn {
    display: inline-block;
}

[type='radio']:not(:checked) + span:before,
[type='radio']:not(:checked) + span:after {
    border: 2px solid #616161;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:after {
    background-color: #8f00b9;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:before,
[type='radio'].with-gap:checked + span:after {
    border: 2px solid #8f00b9;
}

[type='radio']:not(:checked) + span,
[type='radio']:checked + span {
    padding-left: 25px;
    margin-right: 15px;
}

@media only screen and (max-width: 601px) {
    h1 {
        font-size: 30px;
    }
    .pollitic-pad {
        padding: 0;
    }
    .pollitic-cs-list li:hover {
        color: inherit;
    }
}

.pollitic-pre-loader {
    display: flex;
    justify-content: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    height: 64px;
    width: 64px;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #8f00b9;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
